dist: xenial
sudo: true
language: python
env:
  global:
    - COVERALLS_PARALLEL=true

install:
  - pip install tox
  - pip install coveralls

script:
  - tox -e $TOX_ENV -- --hypothesis-profile=ci --duration=20
  - if [[ $TOX_ENV == py* ]]; then coveralls; fi  # Upload coverage results from py* environments.

jobs:
  include:
    - stage: test
      python: "3.6"
      env: TOX_ENV="docs"
    - python: "2.7"
      env: TOX_ENV="lint2"
    - python: "3.6"
      env: TOX_ENV="lint3"
    - python: "2.7"
      env: TOX_ENV="py27"
    - python: "3.5"
      env: TOX_ENV="py35"
    - python: "3.6"
      env: TOX_ENV="py36"
    - python: "3.7"
      env: TOX_ENV="py37"

    - stage: deploy
      install: skip
      script: skip
      deploy:
        provider: pypi
        user: mark_bell
        password:
          secure: "cRA4Rx0sgsamI/9ayvbrgkOZ2jMDLPUohdlOk4JyhCEWLrmPtcjuOftfXC1WYeAXTmPcGMCIlvAiGxgq0Lmr3KvFnR9Wtseb4+G5aollKZgzqOXts3n5tyUHfJNt9kvW5piNSMmhzDclKieis1//xE0+lx7DPWyU9r0pOQtoqawdK7Z1+vZfkKWEjjJhdyQkgJO2Vd5n7uAiaQigaSDdDbQMG8sW22dQgTid1711By2fzCvNSIVH01YdenTCGchxsC870RQekys8JtNI//sgaxeKFLuHw3UxG6PbN8htTkQqDOC3PeLnqIZnd7gmArrCitL5pbR3dHLq09PHN2dWbloSQpJIh8o8ZWHVB+4xucsDCvQR8noLHWyTk35oRn+bHeNoLpSsrI19iknmaLXvgd8URKx+QrGx0YKzoHA34JmI3jeb8PxtrW4IFKUpDcl4bZghOQX9/k9rC8sYa9oyinb/ewdt2yT8jvTXY8BGcPyGQlY9FUD7/CvasZr5IFzJLcZGo1aM6TJq8hWWrAAWPijKeeiAmSpA2XkqYpAa2biSBXGy3k7xmMgwAW6H9pXGm9beJ5ZzcOxItHk6+3jZteS1/AXxPOiAM0MfWyYLwqoyldwQKwTm6QTOrVxZCP7kwZDBAF0E85qIvt9pZAtX/C6H6tEUhYAty2Xhd7+vztg="
        on:
          tags: true

