
trigger:
  # Trigger on all branches and ...
  tags:
    include:
    - 'v*'

jobs:
- job: 'Test'
  pool:
    vmImage: 'Ubuntu-16.04'
  strategy:
    matrix:
      Docs:
        python.version: '3.7'
        TOX_ENV: 'docs'
      Lint2:
        python.version: '2.7'
        TOX_ENV: 'lint2'
      Lint3:
        python.version: '3.6'
        TOX_ENV: 'lint3'
      Python27:
        python.version: '2.7'
        TOX_ENV: 'py27'
      Python35:
        python.version: '3.5'
        TOX_ENV: 'py35'
      Python36:
        python.version: '3.6'
        TOX_ENV: 'py36'
      Python37:
        python.version: '3.7'
        TOX_ENV: 'py37'
  
  steps:
  - task: UsePythonVersion@0
    displayName: 'Use Python $(python.version)'
    inputs:
      versionSpec: '$(python.version)'
  - script: python -m pip install tox
    displayName: 'Install tox'
  - script: tox -e $TOX_ENV -- --hypothesis-profile=ci --duration=20
    displayName: 'Run tox'
  - task: PublishTestResults@2
    inputs:
      testResultsFiles: 'reports/flask-basic-coverage.xml'
      testRunTitle: '$(Agent.OS) - $(Build.BuildNumber)[$(Agent.JobName)] - Python $(python.version)'

- job: 'Deploy'
  dependsOn: Test
  condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
  pool:
    vmImage: 'Ubuntu-16.04'
  steps:
  - task: UsePythonVersion@0
    displayName: 'Set Python'
    inputs:
      versionSpec: '3.7'
  - script: python setup.py sdist
    displayName: 'Build sdist'
  - script: python -m pip install twine
    displayName: 'Install twine'
  - task: TwineAuthenticate@0
    inputs:
      externalFeeds: pypi
  - script: twine upload -r pypi --config-file $PYPIRC_PATH dist/*
    displayName: 'Run twine'

